@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');

.contact-container{
    background-color: #212f3d;
    width: 100%;
    height: 94vh;
    display: flex;
    flex-direction: column;
}

.contact{
    width: 80rem;
    height: 150px;
    margin-top:130px; 
    margin-left: 42px;
    border-radius: 10px;
    background-color: #304152;
    box-shadow: 0px 5px 10px rgb(0,0,0,0.50);
}

.contact h1{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    color: rgb(126, 210, 244);
    text-shadow: 2px 2px 3px black;
    font-size: 40px;
    font-family: 'Acme', sans-serif;
}

.contact h3{
    display: flex;
    justify-content: center;
    color: rgb(126, 210, 244);
    width: 75rem;
    margin: 15px 25px 0px 35px;
    text-align: center;
    text-shadow: 2px 2px 3px black;
    font-family: 'Acme', sans-serif;
}

.contact2{
    width: 80rem;
    height: 300px;
    margin-left: 42px;
    border-radius: 10px;
    margin-top: 20px;
    background-color: #304152;
    box-shadow: 0px 5px 10px rgb(0,0,0,0.50);
    display: flex;
    justify-content: space-between;
    font-family: 'Acme', sans-serif;
}

.contact2 .form-contact{
    margin-top:  15px;
    margin-left: 160px;
    display: flex;
    flex-direction: column;
    width: 360px;
}

.contact2 .form-contact label{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    margin-top: 10px;
    font-weight: 600;
    font-size: 18px;
    color: rgb(126, 210, 244);
    text-shadow: 2px 2px 3px black;
}

.contact2 .form-contact input{
    border-radius: 6px;
    background-color: #212f3d;
    outline: none;
    border: none;
    padding: 3px;
    color: rgb(126, 210, 244);
}

.contact2 .form-contact textarea{
    background-color: #212f3d;
    outline: none;
    border: none;
    border-radius: 6px;
    color: rgb(126, 210, 244);
}

.contact2 .form-contact button{
    margin-top: 19px;
    width: 150px;
    padding: 4px;
    margin-left: 103px;
    background-color: rgb(126, 210, 244);
    border: none;
    border-radius: 6px;
    font-weight: 600;
    color:#212f3d;
    box-shadow: 0px 5px 10px rgb(0,0,0,0.50);
    font-family: 'Acme', sans-serif;
    cursor: pointer;
}

.contact-logo img{
    width: 290px;
    margin-top: 20px;
    margin-right: 180px;
}

.contact-logo .contact-ico{
    font-size: 25px;
    margin: 10px 0px 0px 47px;
    
}

.contact-ico .ico{
    margin: 0px 10px ;
    color: rgb(126, 210, 244);
    cursor: pointer;
}

@media screen and (max-width: 412px){
    .contact-container{
        width: 100%;
        height: 105vh;
    }
    
    .contact{
        width: 23rem;
        height: 150px;
        margin-left: 12px;
        margin-top: 90px;
        display: grid;
        flex-direction: column;
        justify-content: center;
    
    }
    
    .contact h1{
        font-size: 20px;
        margin-top: 10px;
    }

    .contact h3{
        font-size: 15px;
        width:250px;
        height:100px;
        word-wrap: break-word;
        margin-left: 50px;
    }

    .contact2{
        width: 23rem;
        height: 500px;
        margin-left: 12px;
        display: grid;
        flex-direction: column;
        display: flex;
        justify-content: center;
    }

    .contact2 .form-contact{
        margin-top: 10px;
        margin-left: 5px;
    }

    .contact2 .form-contact input{
        width: 300px;
        margin-left: 30px;
    }

    .contact2 .form-contact textarea{
        width: 300px;
        margin-left: 30px;
        height: 60px;
    }

    .contact2 .form-contact button{
        margin-left: 110px;
    }

    .contact-logo img{
        width: 200px;
        margin-top: 20px;
        margin-left: 90px;
    }

    .contact-logo .contact-ico{
        margin-left: 100px;
    }


}