.cart-container{
    position: fixed;
    top: 60px;
    right: 20px;
    border-radius: 12px;
    background-color: white;
    border: 1px solid gray;
    padding: 5px;
    z-index: 990;
    width: 250px;
}

.cart-close{
    text-align: right;
    cursor: pointer;
}

.btn-cart-close{
    border: none;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
}

.cart-item{
    height: max-content;
    max-height: 50vh;
    overflow-y: auto;
}

.cart-total{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

.cart-total2{
    margin-left: 5px;
}

